/**
 * @tableofcontents
 *
 * 1. variable
 *    1.1 color
 *    1.2 font
 */

/** @section 1. variable */

:root
{
	/** @section 1.1 color */

	--rs-color-primary: #282c34;
	--rs-color-secondary: #abb2bf;
	--rs-color-tertiary: #ec3f60;

	/** @section 1.2 font */

	--rs-font-primary: 'pt sans narrow', arial, sans-serif;
	--rs-font-quote: georgia, times, serif;
	--rs-font-code: monospace, arial, sans-serif;
}