/**
 * @tableofcontents
 *
 * 1. branding
 *
 * @since 3.2.0
 *
 * @package NCSS
 * @author Henry Ruhs
 */

/* @section 1. branding */

.rs-title-branding
{
	color: var(--rs-color-common-01);
	font-size: 3em;
	padding: 0.5em 1em;
	text-align: center;
}