/**
 * @tableofcontents
 *
 * 1. content
 * 2. code
 *
 * @since 3.2.0
 *
 * @package NCSS
 * @author Henry Ruhs
 */

/* @section 1. content */

.rs-content
{
	padding: 1em;
	word-wrap: break-word;
}

.rs-box-content
{
	font-size: 1.125em;

	& p:not([class])
	{
		line-height: 1.5em;
		margin: 0.5em 0;
	}
}

.rs-title-content,
.rs-title-content-sub
{
	margin-bottom: 0.5em;
	margin-top: 1em;
}

/* @section 2. code */

.rs-code-default
{
	background: var(--rs-color-primary);
	color: var(--rs-color-secondary);
	display: block;
	font: 0.75em/1.25em var(--rs-font-code);
	padding: 1em;
	white-space: pre-wrap;

	& + .rs-code-default
	{
		margin-top: 1em;
	}
}