/**
 * @tableofcontents
 *
 * 1. content
 *    1.1 title
 *    1.2 box
 * 2. quote
 * 3. code
 */

/** @section 1. content */

.rs-content
{
	padding: 1em;
	word-wrap: break-word;
}

/** @section 1.1 title */

.rs-title-content
{
	font-size: 2em;
	margin-bottom: 0.5em;
}

.rs-title-content:not(:first-child)
{
	margin-top: 1.5em;
}

.rs-title-content-sub
{
	margin-bottom: 0.5em;
	margin-top: 1em;
}

/** @section 1.2 box */

.rs-box-content
{
	font-size: 1.125em;

	& p:not([class])
	{
		line-height: 1.5em;
		margin: 0.5em 0;
	}
}

.rs-box-byline
{
	font-size: 0.875em;
	margin-top: 0.5em;

	& span + span:before
	{
		content: ' ';
	}
}

/** @section 2. quote */

.rs-quote-default
{
	font: 1.25em/1.75em var(--rs-font-primary);
}

@media (--media-medium-min)
{
	.rs-quote-default
	{
		margin: 1em 1em 1em 3em;
		position: relative;

		&:before
		{
			content: '\201d';
			font: 6em/1em var(--rs-font-quote);
			left: -0.5em;
			position: absolute;
			top: -0.125em;
		}
	}
}

/** @section 3. code */

.rs-code-default
{
	background: var(--rs-color-primary);
	color: var(--rs-color-secondary);
	display: block;
	font: 0.75em/1.25em var(--rs-font-code);
	padding: 1em;
	white-space: pre-wrap;

	& + .rs-code-default
	{
		margin-top: 1em;
	}
}