/**
 * @tableofcontents
 *
 * 1. general
 * 2. main
 */

/** @section 1. general */

.rs-body
{
	background: gray(255);
	color: var(--rs-color-primary);
	font: 1em var(--rs-font-primary);
}

/** @section 2. main */

.rs-main
{
	display: flex;
	min-height: 100vh;
}

.rs-content
{
	flex-basis: 100%;
}

.rs-sidebar
{
	flex-basis: 100%;
	max-width: 15em;
}
