/**
 * @tableofcontents
 *
 * 1. general
 * 2. main
 * 3. query
 *    3.1 medium min
 *    3.2 print
 *
 * @since 3.2.0
 *
 * @package NCSS
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-body
{
	background: gray(255);
	color: var(--rs-color-primary);
	font: 1em var(--rs-font-primary);
}

/* @section 2. main */

.rs-main
{
	min-height: 100vh;
}

/* @section 3. query */

/* @section 3.1 medium min */

@media (--media-medium-min)
{
	.rs-main
	{
		display: flex;
	}

	.rs-content
	{
		flex-basis: 100%;
	}

	.rs-sidebar
	{
		flex-basis: 50%;
		max-width: 20em;
	}

}

/* @section 3.2 print */

@media print
{
	.rs-body
	{
		background: gray(255);
		color: gray(0);
	}

	.rs-sidebar
	{
		display: none;
	}
}