/**
 * @tableofcontents
 *
 * 1. general
 * 2. wrapper
 * 3. query
 *    3.1 medium min
 *    3.2 print
 *
 * @since 3.2.0
 *
 * @package NCSS
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-body
{
	background: gray(255);
	color: gray(0);
	font: 1em var(--rs-font-primary);
}

/* @section 2. wrapper */

.rs-wrapper
{
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
}

/* @section 3. query */

/* @section 3.1 medium min */

@media (--media-medium-min)
{
	.rs-wrapper
	{
		display: flex;
	}

	.rs-has-sidebar
	{
		& .rs-content
		{
			flex-basis: 70%;
		}

		& .rs-sidebar
		{
			flex-basis: 30%;
		}
	}
}

/* @section 3.2 print */

@media print
{
	.rs-body
	{
		background: gray(255);
		color: gray(0);
	}

	.rs-sidebar
	{
		display: none;
	}
}