/**
 * @tableofcontents
 *
 * 1. search
 *    1.1 form
 *    1.2 field
 *    1.3 button
 *
 * @since 3.2.0
 *
 * @package NCSS
 * @author Henry Ruhs
 */

/* @section 1. search */

/* @section 1.1 form */

.rs-form-search
{
	margin: 1em;
}

/* @section 1.2 field */

.rs-field-search
{
	padding: 0.75em 0.5em;
	width: 100%;
}

/* @section 1.3 button */

.rs-button-search
{
	display: none;
}