/**
 * @tableofcontents
 *
 * 1. link
 */

/** @section 1. link */

.rs-link-default
{
	text-decoration: underline;

	& + .rs-link-default
	{
		margin-left: 0.5em;
	}
}

.rs-link-documentation
{
	display: inline-block;
	font-size: 0.75em;
	font-weight: bold;
	margin-top: 2em;
	text-transform: uppercase;
}
